<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>RegisterLoginUser</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.RegisterUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterGoogleUserServlet</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.RegisterGoogleUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginUserServlet</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.LoginUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterComunidadServlet</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.RegisterComunidadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveSessionServlet</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.RemoveSessionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ComunidadesServlet</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.ComunidadesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.ChangePasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MiComunidadServlet</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.MiComunidadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RealizarSorteoServlet</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.RealizarSorteoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveMessageServlet</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.SaveMessageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ComunidadByIDServlet</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.ComunidadByIDServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MiListaDeDeseosServlet</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.MiListaDeDeseosServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AmazonServlet</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.AmazonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GuardarDeseoServlet</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.GuardarDeseoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TuListaDeDeseosServlet</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.TuListaDeDeseosServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AmazonTuListaServlet</servlet-name>
		<servlet-class>es.upm.isst.amigoinvisible.servlets.AmazonTuListaServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RegisterLoginUser</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterGoogleUserServlet</servlet-name>
		<url-pattern>/registerWithGoogle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginUserServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterComunidadServlet</servlet-name>
		<url-pattern>/registrarComunidad</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveSessionServlet</servlet-name>
		<url-pattern>/salir</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ComunidadesServlet</servlet-name>
		<url-pattern>/comunidades</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<url-pattern>/cambiocontrasena</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MiComunidadServlet</servlet-name>
		<url-pattern>/micomunidad</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RealizarSorteoServlet</servlet-name>
		<url-pattern>/sorteo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveMessageServlet</servlet-name>
		<url-pattern>/savemessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ComunidadByIDServlet</servlet-name>
		<url-pattern>/comunidadById</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MiListaDeDeseosServlet</servlet-name>
		<url-pattern>/milistadedeseos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AmazonServlet</servlet-name>
		<url-pattern>/amazon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GuardarDeseoServlet</servlet-name>
		<url-pattern>/guardardeseo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TuListaDeDeseosServlet</servlet-name>
		<url-pattern>/TuListaDeDeseosServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AmazonTuListaServlet</servlet-name>
		<url-pattern>/tuamazon</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
</web-app>
